* {
    font-family: 'Cascadia Code';
}

body {
    margin: 150px;
    background: #00a8ff;
}

#title {
    text-align: center;
}

.grouped-up {
    border: 5px groove black;
    padding-top: 25px;
    padding-bottom: 30px;
    background: #ffff;
}

.grouped-up .form {
    padding: 5px;
    margin: 5px;
    display: block;
}

.err_message {
    font-size: 13px;
    color: red;
}

.remember {
    font-size: 15px;
    display: inline;
}

.btns {
    margin: 10px;
    padding: 10px;    
}

#ok_btn {
    margin-right: 25px;
    border-style: groove;
    background: #f6b93b;
}

#no_btn {
    background: #e55039;
    border-style: groove;
}

.member {
    font-size: small;
    text-align: left;
    margin-left: 20px;
}